<launch>
  <!--serial communication between arduino and pc via usb /-->
  <node name="arduino_serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/xrbase" />
    <param name="baud" value="115200" />
  </node>

  <!-- Publish Linorobot odometry -->
    <node pkg="xrrobot" name="riki_base_node" type="riki_base_node">
    	<param name="linear_scale" type="double" value="1.0" />
    </node>

  <!-- Publish static transform from base_footprint to base_link -->
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.098 0 0 0  /base_footprint /base_link  100"/>

</launch>
