<launch>
  <node name="arduino_serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyUSB1" />
    <param name="baud" value="115200" />
  </node>

  <!--<node pkg="lumi_robot" name="localization_node" type="localization_node" output="screen" />-->
  	
  <!-- Publish Linorobot odometry -->
  <node pkg="xrrobot" name="riki_base_node" type="riki_base_node">
    <param name="linear_scale" type="double" value="1.0" />
    <remap from="raw_odom" to="odom" /> 
  </node>
  
  <include file="$(find rtimulib_ros)/launch/rtimulib_ros.launch">
    <remap from="/rtimulib_node/imu" to="/imu"/>
  </include> 

  <include file="$(find rplidar_ros)/launch/rplidar.launch" />  
  
  <!-- Publish static transform from base_footprint to base_link -->
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.098 0 0 0  /base_footprint /base_link  100"/>
   
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_imu_link" args="0 0 0 0 0 0 1 /base_footprint /imu_link  100"/>

  
  <node pkg="simple_pose" name="position_output_node" type="simple_pose"/>
 
</launch>
