<launch>
  
  <include file="$(find lumi_robot)/launch/bringup.launch" />
  <arg name="parent_path" default="$(find lumi_robot)" />

  <!-- START PATH RECORDER -->
  <node pkg="lumi_robot" name="path_recorder" type="path_recorder_node" output="screen" />

  <!-- START RVIZ -->
  <arg name="open_rviz" default="true" />
    <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(arg parent_path)/launch/navigation_with_map.rviz"/>
  </group>
</launch>
