<launch>
    <rosparam param="trajectory_file">/root/catkin_ws/src/nitrabot_control/data/data_experiment_LTurn_outdoor_interp01stopcond.csv</rosparam>
    <rosparam param="sampling_time">0.01</rosparam>
    <!-- Launch the feedforward node -->
    <node name="feedforward" pkg="nitrabot_control" type="feedforward" output="screen">
        <!-- Add any necessary arguments or parameters here -->
    </node>
</launch>