<launch>

  <arg name="model" default="$(find nitrabot_description)/urdf/industrial_robot.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find nitrabot_description)/rviz/urdf.rviz"/>
  <arg name="world_name" default="worlds/empty.world"/>

  <!-- Launch gazebo -->
  <include file="$(find nitrabot_description)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="world_name" value="$(arg world_name)"/>
   </include>

  <!-- Launch Odometry from Gazebo -->
  <!-- <include file="$(find odom_publisher)/launch/start_odom.launch" /> -->

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/> -->

  <!-- Launch the node to use twist message -->
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/cmd_vel"/>
  </node>

</launch>
