<launch>
    <!-- Choose map -->
    <arg name="map_file" default="$(find nitrabot_launch)/maps/dummy_map.yml"/>

    <!-- Run map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- Run bringup sensors -->
    <include file="$(find nitrabot_launch)/launch/bringup.launch" />

    <!-- Run localization -->
    <include file="$(find nitrabot_localization)/launch/ekf_localization.launch" />

    <!-- Launch configurable node -->
    <include file="$(find nitrabot_movebase_config)/launch/basic/move_base.launch" />
</launch>