<launch>
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="velodyne_points"/>
        <param name="scan_time" value="0.07"/>
        <param name="range_max" value="10.0"/> 
        <!--<param name="angle_min" value="-1.5708" />
        <param name="angle_max" value="1.5708" /> -->
    </node>
 </launch>
